@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

:root {
  --primary: #1992D4;
  --secondary: #FFFFFF;
  --tertiary: #E2E8F0;

  --primary-accent: #EFB42B;
}

/* ======================= GLOBAL STYLES ======================== */
li {
  list-style-type: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.profile-img {
  width: 24px;
  height: 24px;
}

button {
  color: var(--secondary);
  background-color: var(--primary);
  border: none;
  padding: 8px 24px;
  border-radius: 16px;
}


/* =========================== PANEL ============================ */
.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr 1fr;
}

.panel {
  background-color: var(--primary);
  grid-column: 1 / 2;
  /* grid-row: 1 / -1; */
  grid-row-start: 1;
  grid-row-end: 4;

  /* display: grid; */

  padding: 16px;
  font-weight: bold;
  color: var(--secondary);
}

/* change color of all panel SVGs to white */
.panel path {
  fill: var(--secondary);
}

.logo,
.nav,
.settings {
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logo svg {
  width: 40px;
  height: 40px;
  justify-self: center;
}

.logo span {
  display: grid;
  font-size: x-large;
  align-items: center;
}

.nav,
.settings {
  margin-top: 48px;
  font-size: large;
}

.nav svg,
.settings svg {
  width: 20px;
  height: 20px;
  justify-self: center;
}

.nav {
  grid-template-rows: repeat(6, 32px);
}

.settings {
  grid-template-rows: repeat(3, 32px);
}


/* ============================ HEADER ========================== */
.header {
  background-color: var(--secondary);
  grid-column: 2 / -1;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
}

.search {
  /* grid-column: 1 / -1; */
}

.greeting {
  /* grid-column: 1 / 2; */
}

.projects-container {
  background-color: var(--tertiary);
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  grid-column: 2 / 4;
}

.projects {
  padding-top: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.sidebar {
  background-color: var(--tertiary);
  padding-right: 24px;
  padding-top: 24px;

  display: grid;
  gap: 32px;
  grid-template-rows: 1fr 1fr;
}

.card {
  background-color: var(--secondary);
  border-radius: 8px;
  border-left: 4px solid var(--primary-accent);
}

.announcements,
.trending {
  border-radius: 8px;
  background-color: var(--secondary);
  padding: 16px;
}

.announcement,
.trending-user {}