@font-face {
  font-family: roboto;
  src: url(./fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

:root {
  --primary: #1992D4;
  --secondary: #FFFFFF;
  --tertiary: #E2E8F0;

  --accent-primary: #EFB42B;

  --font-primary: black;
  --font-secondary: white;
  --font-tertiary: #636363;

  --icon-width: 20px;
  --icon-height: 20px;
}

/* ======================= GLOBAL STYLES ======================== */
li {
  list-style-type: none;
}

.icon {
  width: 24px;
  height: 24px;
}

.profile-img {
  width: 24px;
  height: 24px;
}

button {
  color: var(--font-secondary);
  background-color: var(--primary);
  border: none;
  padding: 8px 24px;
  border-radius: 16px;
}


/* =========================== PANEL ============================ */
.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1.2fr 1fr;
}

.sidebar {
  background-color: var(--primary);
  grid-column: 1 / 2;
  /* grid-row: 1 / -1; */
  grid-row-start: 1;
  grid-row-end: 4;

  /* display: grid; */

  padding: 16px;
  font-weight: bold;
  color: var(--font-secondary);
}

/* change color of all panel SVGs to white */
.sidebar path {
  fill: var(--secondary);
}

.logo,
.nav,
.settings {
  gap: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.logo svg {
  width: 40px;
  height: 40px;
  justify-self: center;
}

.logo span {
  display: grid;
  font-size: x-large;
  align-items: center;
}

.nav,
.settings {
  margin-top: 48px;
  font-size: large;
}

.nav svg,
.settings svg {
  width: var(--icon-width);
  height: var(--icon-height);
  justify-self: center;
}

.nav {
  grid-template-rows: repeat(6, 32px);
}

.settings {
  grid-template-rows: repeat(3, 32px);
}


/* ============================ HEADER ========================== */
.header {
  background-color: var(--secondary);
  grid-column: 2 / -1;
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
}

.search {
  /* grid-column: 1 / -1; */
}

.greeting {
  /* grid-column: 1 / 2; */
}

/* ============================ PROJECTS ========================== */

.projects-container {
  background-color: var(--tertiary);
  padding-top: 24px;
  padding-left: 16px;
  padding-right: 16px;
  grid-column: 2 / 4;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.card {
  padding: 24px 16px;
  display: grid;
  grid-template-rows: 1fr auto;
  position: relative;
  min-height: 200px;
  background-color: var(--secondary);
  border-radius: 8px;
  border-left: 8px solid var(--accent-primary);
}

.card h3 {
  font-size: medium;
}

.card p {
  color: var(--font-tertiary);
  margin-top: 4px;
  font-size: medium;
}

/* push content to right of container with fixed right margin */
.card-icons {
  margin-left: auto;
  margin-right: 16px;
}

.card-icons svg {
  width: var(--icon-width);
  height: var(--icon-height);
  margin-left: 24px;
}

.projects-container>h2,
.announcements-container>h2,
.trending-container>h2 {
  font-size: large;
  margin-bottom: 8px;
}

/* ============================ PANEL RIGHT ========================== */
.panel-right {
  background-color: var(--tertiary);
  padding-right: 24px;
  padding-top: 24px;

  display: grid;
  gap: 32px;
  grid-template-rows: 1fr 1fr;
}

.announcements,
.trending {
  border-radius: 8px;
  background-color: var(--secondary);
  padding: 16px;
}

.announcement,
.trending-user {}