* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: 24px auto;
}

.slide {
  display: none;
}

.active {
  display: block;
}

img {
  width: 100%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius:  3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}