

body {
  padding: 0;
  margin: 0;
}

form input {
  margin-left: auto;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
}

.error.active {
  padding: 0.3em;
}

.container {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}

.read {
  background-color: lightgreen;
}

.not-read {
  background-color: salmon;
}

.toggle-button, .delete-button {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}

.toggle-button {
  background-color: blue;
}

.delete-button {
  background-color: red;
  margin-left: auto;
}