

body {
  padding: 0;
  margin: 0;
}

form input {
  margin-left: auto;
}

.container {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;
}

.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 8px;
}

.read {
  background-color: lightgreen;
}

.not-read {
  background-color: salmon;
}

.toggle-button, .delete-button {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
}

.toggle-button {
  background-color: blue;
}

.delete-button {
  background-color: red;
  margin-left: auto;
}

.modal::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}