
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  display: grid;
  justify-content: center;
}

body {
  padding: 24px 48px;
  width: 894px;
}

.info {
  border: 2px solid black;
}

.board {
  margin-top: 24px;
  display: grid;
  grid-template: repeat(3, 250px) / repeat(3, 250px);
  gap: 24px;
}

.cell {
  border: 2px solid black;
  border-radius: 8%;
  display: grid;
  align-items: center;
  font-size: 100px;
}

.active:hover {
  color: #d710ff;
  box-shadow: 0 0 5px #d710ff;
  text-shadow: 0 0 5px #d710ff;
  border-color: #d710ff;
}
