
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: blue; */
  background: lightblue;
}

.content {
  display: grid;
  padding: 5%;
  /* place-content: center; */
}

.form-container {
  background-color: white;
  width: 500px;
  padding: 32px;
  border-radius: 12px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

input {
  display: block;
  width: 100%;
  padding: 4px 8px;
  border-radius: 8px;
}

input:valid {
  border-color: green;
}

input:invalid {
  border-color: #900;
}

.error {
  color: #900;
  margin-left: 12px;
}

button {
  margin-top: 12px;
  width: 72px;
  height: 36px;
  align-self: center;
}