
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) minmax(625px, 2.5fr);
}

.sidebar, .content {
  border: 2px solid black;
  height: 100vh;
}

.sidebar {
  background-color: gray;
}

.content {
  background-color: aqua;
  padding: 48px 72px;
}

.project h2 {
  margin-bottom: 24px;
}

.tasks {
  display: grid;
  gap: 12px;
  border: 2px solid black;
}

.task {
  border: 2px solid red;
}